<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <form id="message-form" method="POST" action="/messages">
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button type="submit">Post Message</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message-body">
                <%= message.body %> <br/>
                Total likes:
                <%= message.total_likes %> 
              </div>
              <div class="message-timestamp">
                Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
              </div>
              <div class="message-actions">
                <form action="/messages/<%= message.id %>/likes" method="POST">
                  <button type="submit">Like!</button>
                </form>
                <form action="/messages/<%= message.id %>/dislikes" method="POST">
                  <button type="submit">Dislike!</button>
                </form>
                <form action="/messages/<%= message.id %>/comments" method="POST">
                  <textarea name="comment_body"></textarea>
                  <button type="submit">Add Comment</button>
                </form>
                <h3>Comments</h3>
                <% message.comments.each do |comment| %>
                  <p><%= comment.body %></p> 
                <% end %>
                <form action="/messages/<%= message.id %>/destroy" method="POST">
                  <button type="submit">Delete! </button>
                </form>
                <form method="POST" action="/photos" enctype="multipart/form-data"
                      class="horizontal-form">
              
                  <label for="photos-title">Photo Title</label>
                  <input id="photos-title" name="photo[title]"
                    type="text" 
              
                  <label for="photos-source">File</label>
                  <input id="photos-source" name="photo[source]" type="file">
                  <input name="photo[message_id]" type="hidden" value="<%= message.id %>">
              
                  <button type="submit">Upload Photo</button>
                </form>
                <%if message.photo %>
                <form action="/photos/<%= message.photo.id %>/destroy" method="POST">
                  <button type="submit">Delete! </button>
                </form>
                <form action="/photos/<%= message.photo.id %>/dislikes" method="POST">
                  <button type="submit">Dislike!</button>
                </form>
                <form action="/photos/<%= message.photo.id %>/likes" method="POST">
                  <button type="submit">Like!</button>
                </form>
                <%end%>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>
