<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <form id= "signUp-form" method="POST" action="/signUp" enctype="multipart/form-data">
        <textarea id="signUp-form" name="signUp[username]"></textarea>
        <textarea id="signUp-form" name="signUp[password]"></textarea>
        <button type "submit">Sign Up</button>
      </form>
      <form id= "login-form" method="POST" action="/login" enctype="multipart/form-data">
        <textarea id="login-form" name="login[username]"></textarea>
        <textarea id="login-form" name="login[password]"></textarea>
        <button type "submit">Login</button>
      </form>
      <form id="message-form" method="POST" action="/messages" enctype="multipart/form-data">
        <textarea id="message-body" name="message[body]" placeholder="Enter a message here."></textarea>
        <label for="message-photo">File</label>
        <input id="message-photo" name="message[photo]" type="file">
        <button type="submit">Post Message</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message-body">
                <% if message.has_photo? %>
                  <p><img src="<%= message.photo_url %>"></p>
                <% else %>
                  <p><%= message.body %></p>
                <% end %>
                Total likes:
                <%= message.total_likes %>
              </div>
              <div class="message-timestamp">
                Posted on <%= message.created_at.strftime("%B %d, %Y at %l:%M%p") %>
              </div>
              <div class="message-actions">
                <form action="/messages/<%= message.id %>/likes" method="POST">
                  <button type="submit">Like!</button>
                </form>
                <form action="/messages/<%= message.id %>/dislikes" method="POST">
                  <button type="submit">Dislike!</button>
                </form>
                <form action="/messages/<%= message.id %>/comments" method="POST">
                  <textarea name="comment_body"></textarea>
                  <button type="submit">Add Comment</button>
                </form>
                <h3>Comments</h3>
                <% message.comments.each do |comment| %>
                  <p><%= comment.body %></p> 
                <% end %>
                <form action="/messages/<%= message.id %>/destroy" method="POST">
                  <button type="submit">Delete! </button>
                </form>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>
